img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

h1 {
	font-size: 52px;
}

.group-name {
	color: #bd59d4;
	font-weight: bold;
}

.btn-change-info {
	background: #bd59d4;
	color: white;
	font-weight: bolder;
	border-radius: 8px;
	min-width: 175px;
	height: 50px;
	border-width: 0px;
	padding: 0px;
	margin: 30px auto;
	box-shadow: rgb(189, 89, 212) 0px 10px 50px;
	transition: 0.5s all;
}

.btn-change-info:hover {
	background: #5c2668;
}

.btn-logout {
	min-width: 80px;
	height: 50px;
	background: red;
	color: white;
	font-weight: bolder;
	border-radius: 8px;
	padding: auto;
	border: none;
	box-shadow: red 0px 10px 50px;
	transition: 0.5s all;
}

.btn-logout:hover {
	background: rgb(163, 0, 0);
	color: white;
	text-decoration: none;
}

form input {
	width: 100%;
}

button.btn-cancel {
	width: 80px;
	height: 65px;
	background: lightgray;
	box-shadow: lightgray 0px 10px 50px;
}

button.btn-cancel:hover {
	background: gray;
}

.close-btn {
	width: 5px !important;
	color: red;
	background: transparent;
	box-shadow: none;
}

.close-btn:hover {
	background: transparent;
}

.form-upload input[type="file"],
.form-upload input[type="email"] {
	margin: 0px;
}

.form-select {
	padding: 20px;
	height: 65px;
	margin: 0px !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
	border: none;
}

.form-select:hover {
	cursor: pointer;
}

.form-select:focus {
	outline: rgb(189, 89, 212) solid 2px;
	box-shadow: rgb(189, 89, 212) 0px 10px 50px;
}

.card {
	/* width: 300px !important; */
	background: rgb(192, 203, 211);
}

.card-img-container {
	width: 100px;
	height: 100px;
	margin: 0px;
	overflow: hidden;
}

.card-body {
	margin: 0px;
	min-width: 320px;
}

.card-img {
	transition: 1s ease all;
}

.card-img:hover {
	transform: scale(1.1);
}

.icon {
	border-radius: 50% !important;
	transition: 0.3s all;
}

.icon:hover {
	color: rgb(189, 89, 212);
	box-shadow: rgb(189, 89, 212) 0px 10px 50px;
}
