{% extends "base.html" %}

<!-- ------------------------ -->
{% block title %}Login{%endblock%}

<!-- ------------------------ -->
{% block style %}
<link rel="stylesheet" href="../static/css/home.css" />
<link rel="stylesheet" href="../static/css/authen.css" />
{% endblock %}

<!-- ------------------------ -->
{% block body %}
<div class="container-c">
	<div class="d-flex flex-column align-items-center justify-content-center">
		<h1 class="fw-bolder">Home</h1>
		<div class="d-flex align-items-center justify-content-center gap-3">
			<div
				class="d-flex flex-column align-items-center justify-content-center"
			>
				<img src="../static/img/avatar.jpg" alt="logo" class="img-fluid" />
				<div class="text-center">{{user.name}}</div>
			</div>

			<!-- Button trigger modal -->
			<button
				type="button"
				class="btn-change-info"
				data-bs-toggle="modal"
				data-bs-target="#exampleModal"
			>
				Change information
			</button>

			<button class="btn-logout" onclick="logout()">Logout</button>
			<!-- Modal -->
			<div
				class="modal fade"
				id="exampleModal"
				tabindex="-1"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<form method="POST" action="" class="d-flex flex-column">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h2 class="modal-title" id="exampleModalLabel">
									Change {{user.name}}'s information
								</h2>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body p-3 px-4">
								{{form.hidden_tag()}} {{form.email(value=user.email)}}
								{{form.name(value=user.name)}}
								{{form.phone(value=user.phone)}}
								{{form.address(value=user.address)}}
								<div class="d-flex align-items-center gap-4">
									{{form.password}} {{form.show_password}}
								</div>
							</div>
							<div class="modal-footer">
								<div class="d-flex gap-4">
									<button
										type="button"
										class="btn-cancel"
										data-bs-dismiss="modal"
									>
										Cancel
									</button>
									{{form.submit}}
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

<!-- ------------------------ -->
{% block script %}
<script>
	function logout() {
		document.location.href = "{{url_for('logout')}}";
	}
</script>
{% endblock %}
