{% extends "base.html" %}

<!-- ------------------------ -->
{% block title %}Register{%endblock%}

<!-- ------------------------ -->
{% block style %}
<link rel="stylesheet" href="../static/css/authen.css" />
{% endblock %}

<!-- ------------------------ -->
{% block body %}
<div class="container-c rounded">
	<h1 class="mb-5 fw-bolder">Sign Up</h1>
	<form method="POST" action="" class="d-flex flex-column">
		{{form.hidden_tag()}} {{form.email}} {{form.name}} {{form.phone}}
		{{form.address}}
		<div
			class="d-flex align-items-center justify-content-between gap-4 w-full m-0"
		>
			{{form.password}} {{form.show_password}}
		</div>
		<div class="error">{{error}}</div>
		{{form.submit}}
	</form>
	<a href="{{url_for('login')}}">Login</a>
</div>
{% endblock %}
